<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #3f4143;
            color:  #a6ce39;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Error: Payment Failed</h1>
    <p>We're sorry, but the payment could not be processed at this time. Please try again later.</p>
</body>
</html>