<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #3f4143;
            color:  #a6ce39;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Payment Successful</h1>
    <p>Your payment has been successfully processed. Thank you!</p>
</body>
</html>
