body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

header {
    font-family: 'Bebas Neue', sans-serif;    background-color: #cb5353;
    color: white;
    padding: 2ch;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

article img {
    width: 100%;
    cursor: pointer;
}

footer {
    background-color: #323;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

article p {
    font-weight: 100;
    font-family: 'Teko', sans-serif;

}
